body {
    min-height: 100vh;
    background: #F0F4FF;
  }
  .sidebar {
    position: fixed;
    
    top: 20px;
    left: 20px;
    height: 60px;
    width: 60px;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    background: #161a2d;
    padding: 25px 20px;
    transition: all 0.4s ease;
    z-index: 2;
    border-radius: 10px;
  }
  .sidebar:hover {
    width: 200px;
    height: 200px;
    border-radius: 15px;
  }
  .user-profile span {
    font-size: 0.775rem;
    font-weight: 600;
  }
  .user-detail {
    margin-left: 23px;
    white-space: nowrap;
  }
  .sidebar:hover .user-account {
    background: #fff;
    border-radius: 4px;
  }