* {
    padding: 0;
    margin:0;
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        margin-bottom: 8%;
    }
    header{
        display: flex;
        justify-content: space-between;
        height: 8vh;
        button{
            width: 100%;
            background-color: blue;
        }
    }
    .conteudo{
        background-color: red;
        width: 70vw;
        display: grid;
        grid-template-columns: 2;
    }
    }